<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Similarity Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Distinct Product Names</h1>
    <form method="POST" action="/">
        <label for="product_name">Choose a product:</label>
        <select id="product_name" name="product_name" required>
            {% for name in distinct_names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        
        <br>
        
        <label for="num_products">Enter number of similar products:</label>
        <input type="number" id="num_products" name="num_products" min="1" required>
        
        <br>
        
        <button type="submit">Submit</button>
    </form>

    {% if similar_products %}
    <h2>Similar Products</h2>
    <ul>
        {% for product in similar_products %}
        <li>
            <div class="product-info">
                <div class="product-name">Name: {{ product['name'] }}</div>
                <div class="product-type">Type: {{ product['type'] }}</div>
                <div class="product-price">Price: {{ product['price'] }}</div>
                <div class="product-description">Description: {{ product['description'] }}</div>
                <div class="product-store">Store: {{ product['store_name'] }}</div>
            </div>
            <div class="product-score">Similarity Score: {{ product['score'] }}</div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No similar products found.</p>
    {% endif %}
</body>
</html>
